# Python
venv/
__pycache__/
*.py[cod]
*$py.class

# Environment
.env
.env.local
.env.*

# Git
.git
.gitignore
.gitattributes

# IDE
.idea/
.vscode/

# OS
.DS_Store
Thumbs.db

# Documentation
README.md
LICENSE
*.md

# Tests
tests/
test/